@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    .open-menu {
        display: block;
    }

    .firstSection {
        flex-direction: column;
        height: 50rem;

    }

    .firstSection .leftSection {
        width: 100%;
        height: 55%;

    }

    .firstSection .rightSection {
        width: 100%;
        height: 45%;

    }

    .side-bar a {
        color: black;

    }

    .side-bar a:hover {
        color: black;
    }

    .first-sec {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .project-first {
        flex-wrap: wrap;
    }
    .skill-first {
        flex-wrap: wrap;
    }
}

@media(max-width:500px) {
    .side-bar {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 250px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease-out;
    }

    .first-sec {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .button {
        flex-wrap: wrap;

    }

    .btn {
        margin-top: 5px;
    }

    .image-right {
        width: 100%;
    }

    .skill-first {
        flex-wrap: wrap;
    }

    .project-first {
        flex-wrap: wrap;
    }
    .footer-sec{
        flex-wrap: wrap;
    }
}
